<title>Blog Page</title>
<body>

<style>
     body{
      background-color: rgb(2, 2, 2);
      margin: 0;

    }
</style>
    
    <!-- Navbar -->
{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="\resources\logo2.png" alt="Web Hosting Unlimited" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/read_more">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/registration">Registration</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link border border-primary rounded px-4 py-2 bg-primary text-light" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav> --}}
<!-- Navbar End -->



</body>


{{> nav }}
<main>
    <div id="articles">
        <a href="/article/1234" class="article doubleCol">
            <div class="imgContainer"><img src="resources/dumbledoor.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/logo2.png"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/sun.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
        <a href="/article/1234" class="article">
            <div class="imgContainer"><img src="resources/placeholder.jpg"></img></div>
            <h2>Article Name</h2>
            <p>Article Brief...</p>
        </a>
    </div>
</main>
