<title>Article Page</title>

<body>
<style>
     body{
      background-color: rgb(189, 63, 180);
      margin: 0;

    }
</style>
    
    <!-- Navbar -->
{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/resources/logo2.png" alt="Web Hosting Unlimited" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/read_more">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/registration">Registration</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link border border-primary rounded px-4 py-2 bg-primary text-light" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav> --}}
<!-- Navbar End -->

</body>

<title>Article Page</title>

<body>
<style>
     body{
      background-color: rgb(189, 63, 180);
      margin: 0;

    }
</style>
    
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/resources/logo2.png" alt="Web Hosting Unlimited" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/read_more">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/registration">Registration</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link border border-primary rounded px-4 py-2 bg-primary text-light" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- Navbar End -->

</body>


{{> nav }}
<main>
    <article>
        <img src="/resources/placeholder.jpg"/>
        <h1>Article Title</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus risus. Vestibulum dolor ex, auctor vulputate ultrices non, consectetur eget lectus. Aliquam malesuada orci in diam molestie viverra. Etiam ut condimentum nisi, vel convallis orci. Sed nisi eros, vulputate at purus eget, fringilla feugiat arcu. Maecenas mattis, ligula accumsan molestie molestie, orci neque mattis nisl, non eleifend est justo quis justo. Vivamus nisl nisl, cursus non vehicula sit amet, lobortis ut tellus. Suspendisse congue elit nec libero pretium blandit. Aenean iaculis orci sem, ut eleifend elit venenatis vel.</p>
        <h2>Some Other Title</h2>
        <p>In ornare vitae magna eu semper. Nulla quis sapien in erat mattis vulputate eu eu risus. Sed aliquet feugiat vehicula. Donec ac tellus eros. Etiam mattis iaculis nisl, quis dapibus metus vestibulum ut. Praesent sit amet venenatis ipsum, semper commodo ipsum. Duis efficitur tincidunt massa, vel euismod enim iaculis nec. Sed laoreet et orci sed volutpat. Integer feugiat elit ex, eget hendrerit urna pulvinar vitae. In hac habitasse platea dictumst. Nullam egestas vehicula nulla, iaculis tincidunt dolor consequat gravida. Ut sapien orci, auctor non augue eget, condimentum condimentum sapien. Aenean ex quam, volutpat ut pellentesque a, gravida ac erat. Integer odio est, feugiat eu interdum vel, cursus eu lacus.</p>
        <p>Cras ut porta ligula. Fusce suscipit augue et nisi dictum, non mollis augue scelerisque. Ut ac nisi feugiat, hendrerit magna vitae, egestas lacus. Proin egestas consequat augue, in tristique arcu consectetur viverra. Donec gravida cursus dolor, accumsan sollicitudin augue sollicitudin non. Duis vitae rhoncus dolor. In pulvinar tristique finibus. Aenean dapibus finibus enim, vitae placerat purus condimentum vitae. Morbi in mi convallis, commodo nulla ut, tempor mauris. Quisque vestibulum nunc nec massa ultricies bibendum. Vestibulum mattis dapibus nulla, eget hendrerit nisi dignissim semper.</p>
        <h2>Final Subtitle</h2>
        <p>Proin in massa tempor augue facilisis convallis. Maecenas porttitor tempor justo, vitae imperdiet libero dictum et. Suspendisse at purus suscipit felis aliquet scelerisque. Mauris dignissim nunc ipsum, quis feugiat nisl dignissim quis. Nunc eu placerat mauris. Nulla interdum ante mi, non volutpat ligula elementum vitae. Phasellus id lacus in orci venenatis aliquam. Integer viverra metus consequat mauris gravida, vel aliquet nunc accumsan. Vivamus consectetur diam accumsan mollis fermentum.</p>
        <p>Aenean commodo consequat sem, vel tincidunt risus luctus sed. Vestibulum purus mauris, consectetur accumsan vehicula in, accumsan vitae quam. Donec non hendrerit sapien. Aliquam luctus, justo non feugiat interdum, leo purus euismod velit, ut malesuada leo ex at eros. Cras cursus, sapien ac dignissim egestas, ex lectus tincidunt felis, ac pretium felis nisl ut lacus. Ut ornare id elit ut consectetur. Fusce dui augue, feugiat ut faucibus at, molestie ac ante. Ut sed dui congue, accumsan elit at, efficitur dolor. Quisque in lacinia magna. Donec hendrerit laoreet vulputate. Vivamus ac urna nunc. Integer accumsan euismod nibh ut dictum. Fusce est elit, molestie id purus nec, molestie tempus dui. Nunc ac diam felis. Integer malesuada quis nibh vitae tempor. Phasellus eget lobortis mi.</p>
    
    </article>
</main>


<script>
    async function comment()
    {
        const fd = new FormData(form)
        await fetch('/comment',{
            method: 'POST',
            body: fd
        }).then(response => {
            console.log(response);
            if (response.status == 200) location.reload();
        });
    }

    const form = document.getElementById("article-reply");
    form.addEventListener('submit', async (e) =>{
        e.preventDefault();
        await comment();
    });
</script>